* {
  margin: 0;
}
.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  place-items: center;
  background-color: pink;
}
.app__container {
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0;
}
.app__todoContainer {
  /* flex: 1; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
